body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Color de fondo */
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #172963; /* Color del título */
}

.ecosystem {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ecosystem-box {
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo con transparencia */
    border-radius: 10px;
    width: 200px; /* Ancho del elemento */
    height: 150px; /* Alto del elemento */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px; /* Margen entre cajas */
    text-align: center;
    color: #333; /* Color del texto */
    text-decoration: none; /* Sin subrayado en enlaces */
    transition: transform 0.3s; /* Efecto de transición suave */
}

.ecosystem-box:hover {
    transform: scale(1.05); /* Efecto al pasar el mouse */
}

#atmosphere {
    background-image: url('../img/collage_atmosphere.jpg'); /* Ruta a la imagen de la atmósfera */
    background-size: cover;
}

#biosphere {
    background-image: url('../img/collage_biosphere.jpg'); /* Ruta a la imagen de la biosfera */
    background-size: cover;
}

#pedosphere {
    background-image: url('../img/collage_pedosphere.jpg'); /* Ruta a la imagen de la pedosfera */
    background-size: cover;
}

#hydrosphere {
    background-image: url('../img/collage_hydrosphere.jpg'); /* Ruta a la imagen de la hidrosfera */
    background-size: cover;
}

h2 {
    position: absolute; /* Permitir que el texto esté encima de la imagen */
    bottom: 10px; /* Posicionar el texto en la parte inferior */
    left: 50%; /* Centrar el texto horizontalmente */
    transform: translateX(-50%); /* Ajustar el texto para centrarlo */
    color: white; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mayor legibilidad */
}
